databases==0.7.0
DateTime==5.1
fastapi==0.97.0
fastapi-utils==0.2.1
httpx==0.23.0
psycopg2==2.9.6
pycparser==2.21
pydantic==1.10.9
pyee==8.2.2
pymongo==4.5.0
PyMySQL==1.1.0
requests==2.31.0
requests-html==0.10.0
response==0.5.0
responses==0.23.3
SQLAlchemy==1.4.48
typing_extensions==4.6.2
uvicorn==0.22.0
w3lib==2.1.2
watchfiles==0.19.0
Flask==2.0.1
urllib3==1.26.16

