DateTime==5.1
fastapi==0.97.0
fastapi-utils==0.2.1
mysql==0.0.3
pydantic==1.10.9
requests==2.31.0
response==0.5.0
responses==0.23.3
rich==13.3.5
SQLAlchemy==1.4.48
PyMySQL==1.1.0
uuid==1.30
uvicorn==0.22.0
httpx==0.23.2
